body{
  font-family: 'Roboto', sans-serif;
  margin:0;
  padding:0;
  background:rgba(111, 120, 98, 0.44);
  overflow-x:hidden !important;
}
.provisory-header{
  text-align: center;
  padding:40px;
}

.list-group-item{
  border:0;
  cursor: pointer;
  transition: background 0.5s;
  &:hover{
    background:rgba(111, 120, 98, 0.04);
  }
  .shot-list{
    .media-body{
      display: inline-block;
      float: left;
      max-width:300px; 
      .media-heading{
        margin-left: 12px;
        span.font-awesome{
          color:rgba(111,114,119,0.8);
          padding: 5px;
        }
      }
    }
  }
}

.selected-detail{
  padding:20px;
  margin-top: 40px;
  .main-description{
    background: rgba(106, 103, 255, 0.54);
    border-radius: 20px;
    width: 350px;
    height: 450px;
    .media-avatar{
      border-radius:90px;
      padding:15px;
    }
    .user-infos{
      margin-left:15px;
      margin-top: -10px;
      width: 320px;
      display: inline-block;
      color:#dddfff;
      a{
        color:#dddfff;
        font-family: 'Roboto', sans-serif;
      }
      .font-awesome{
        padding:7px;
      }
    }
  }
  .details{
    .wrapper{
      height: 450px;
      .item-desc-text{
        position: relative;
        transform: translateY(-300px);
        left: 0px;
        visibility: hidden;
        height: 300px;
        color: #777;
        text-overflow: ellipsis;
        overflow: hidden;
        transition: background 0.5s;
        padding:15px;
      }
    }
    &:hover .item-desc-text{
      visibility:visible;
      background: rgba(255, 255, 255, 0.8); 
      width: 99%;
    }
    .tags-control{
      transform: translateY(-100px);
      .tags{
        background:rgba(106, 103, 255, 0.54);
        display: inline-block;
        border-radius:10px;
        padding-left:5px;
        margin: 5px;
      }
    }
  }
}

footer{
  margin-top: 40px;
  background:rgba(106, 103, 255, 0.54);
  width: 100%;
  height: 70px;
  .text{
    text-align: center;
    padding-top: 10px;
    font-size:20px;
    span{
      color:red;
      font-size: 25px;
    }
  }
}


@media screen and (max-width:768px){
  .list-group-item{
    .shot-list{
      .media-right{
        .media-object{
          width: 150px;
        }
      }
      .media-body{
        .media-heading{
          margin-right: 5px;
          font-size:12px;
          .attachments_numbers{
            visibility: hidden;
          }
          span.font-awesome:nth-last-child(2){
            visibility: hidden;
          }
        }
      }
    }
  }

  .selected-detail{
    padding:20px;
    .main-description{
      height: auto;
      width: 100%;
      .media-avatar{
        width: 100px;
        height: 100px;
      }
      .user-infos{
        margin-top: 15px;
      }
    }
  }

}

@media screen and (max-width:450px){

  .col-xxs-12{
    width: 100%;
  }
  .list-group-item{
    .shot-list{
      .media-body{
        .media-heading{
          font-size:14px;
        }
      }
    }
  }

  .shot-list{
    .media-right{
      .media-object{
        width: 100% !important;

      }
    }
  }

  .main-description{
    .user-infos{
      a{
        width: 150px;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

}

@media screen and (max-width:1199px) and (min-width:768px){

  .selected-detail{
    .details{
      transform: translateX(50px);
    }
    .main-description{
      transform: translateX(-50px);
    }
  }
}